.container{
    padding: 0 2rem;
}

/* css for components TokenCardContainer, ERC20Tokenscard and ERC721Tokenscard*/
.token-card-container{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

.token-card{
    width: 500px;
    height: 280px;
    margin-left: 30px;
    padding: 20px;
    box-shadow: 0 0 0 0.4px grey;
    background: whitesmoke;
    box-sizing: content-box;
    border-radius: 4px;
}

/* css for description component */
.description-h1{
    color: blue;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;

}
.description-h2{
    display: flex;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium ;
    justify-content: space-between;
    margin-top: -10px;
}
.description-erc20{
    margin-left: 400px;
}
.description-erc721{
    margin-right: 400px;
}
/* css for Nav component */
.nav-bar {
    display:flex;
    flex-direction: row;
    font-weight: bold;
    align-items:center;
    justify-content:space-between;

}
.nav-bar-facoin {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 47px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(29, 72, 213, 0.8);
    border: 2px solid rgba(0, 125, 139, 0.522);
    border-radius: 10px;
    color: whitesmoke;

}
.nav-bar-facoin:hover {
    color:bisque;
}